<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scrabble!</title>
  <link rel="stylesheet" type ="css/text" href="stylesheets/styles.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/score">Scoring</a></li>
        <li><a href="/">Scrabble Home</a></li>
      </ul>
    </nav>
  </header>

  <footer>
  </footer>
</body>
</html>
