<title>Score Multiple Words</title>

<header class="title">
  <h1>Score Multiple Words</h1>

  <nav class="current-page">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/score">Score One Word</a></li>
      <li><a href="/score-many">Score Multiple Words</a></li>
    </ul>
  </nav>

</header>


<form action="" method="post" accept-charset="utf-8">

  <label for="number">Enter a number (up to 10) of words to score: </label>
  <input type="number" name="number" value="" min="1" max="10" id="number">

  <br>
  <% @number.to_i.times do %>
  <label for="score-many">Enter a word to score: </label>
  <input type="text" name="all_words[]" value="" id="score-many" required pattern="[A-Za-z]{1,7}" title="Enter up to 7 letters"><br>
  <% end %>

  <input type="submit" value="Submit">
</form>

  <% if @scoring_hash %>
    <% @scoring_hash.each do |word, score| %>
     <h2>
       Word: <%= word.upcase %>
       Score:  <%= score %>
     </h2>
     <% end %>
  <% end %>

<%= params %>
