<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scoring!</title>
  <link rel="stylesheet" type ="css/text" href="stylesheets/styles.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/score">Scoring</a></li>
        <li><a href="/">Scrabble Home</a></li>
      </ul>
    </nav>
  </header>

  <!-- <% if @score %>
    <p>Word: <%= @word %><br>Score: <%= @score %></p>
  <% end %> -->
  <div class="params">
    <%= params %>
  </div>
  <form action="" method="post" accept-charset="utf-8">
    <label for="scoring">Enter a word: </label>
    <input type="text" name="word_scores[word]" value="" id="scoring">
    <input type="submit" value="Submit">
  </form>
  <footer>
  </footer>
</body>
</html>
